configuration {
 modi: "drun";
 font: "fira-code 14";
 show-icons: true;
 icon-theme: "Inverse-brown-dark";
 }
//@theme "squared-everforest"
//@theme "/home/rafa/.config/rofi/themes/spotlight-dark.rasi"
//@theme "/home/rafa/.local/share/rofi/themes/rounded-orange-dark.rasi"
@theme "/home/rafa/.config/rofi/themes/rounded-gray-dark.rasi"
